.endgame-modal-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 1); /* Ciemne, półprzezroczyste tło */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.endgame-modal-content {
  width: 60%;
  max-height: 90vh; /* Ograniczamy wysokość modala do 90% widocznej wysokości */
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.4); /* Wyraziste czarne tło */
  backdrop-filter: blur(5px);
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /* Zwiększony cień dla większej głębi */
  text-align: center;
  color: white;
  overflow-y: auto; /* Dodajemy przewijanie, gdy zawartość przekracza wysokość modala */
}

.endgame-players-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); /* Siatka z automatycznymi kolumnami */
  gap: 20px; /* Odstępy między elementami siatki */
  margin-bottom: 20px;
}

.endgame-player-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.endgame-player-text {
  font-size: 1.4em;
  margin: 10px 0;
  color: #f5f5f5; /* Lekko jaśniejszy kolor tekstu */
}

.endgame-modal-buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.endgame-button {
  background-color: rgba(255, 255, 255, 0.2); /* Jasne tło z przezroczystością */
  border: 2px solid rgba(255, 255, 255, 0.5); /* Delikatny obrys */
  color: white;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 1.1em;
  border-radius: 12px; /* Zaokrąglone krawędzie */
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.endgame-button:hover {
  background-color: rgba(255, 255, 255, 0.4); /* Zwiększona przezroczystość przy najechaniu */
  box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.4); /* Większy cień na hover */
}

/* Styl dla zablokowanego przycisku */
.endgame-button:disabled {
  background-color: rgba(255, 255, 255, 0.1); /* Bardziej przezroczysty przycisk */
  cursor: not-allowed; /* Ikona "nie dozwolone" */
  box-shadow: none; /* Usuń cień */
  color: rgba(255, 255, 255, 0.5); /* Zmniejszona widoczność tekstu */
}

.endgame-modal-header {
  font-size: 2.2em; /* Większy nagłówek */
  margin-bottom: 15px;
}

.endgame-player-input {
  padding: 10px;
  width: 100px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.2); /* Ciemne pole tekstowe z przezroczystością */
  border: 2px solid rgba(255, 255, 255, 0.5); /* Obrys podobny do przycisków */
  color: white;
  font-size: 1.2em;
  border-radius: 8px;
}

.endgame-player-input::placeholder {
  color: rgba(255, 255, 255, 0.7); /* Lekkie rozjaśnienie placeholdera */
}

/* Dodajemy styl responsywny na telefony */
@media (max-width: 768px) {
  .endgame-modal-content {
      width: 90%; /* Zmniejszamy szerokość modala na mniejszych ekranach */
      max-height: 90vh; /* Ograniczamy maksymalną wysokość modala */
      padding: 10px;
  }

  .endgame-modal-header {
      font-size: 1.8em; /* Zmniejszamy wielkość nagłówka */
  }

  .endgame-players-container {
      grid-template-columns: repeat(auto-fit, minmax(120px, 1fr)); /* Zmniejszamy minimalną szerokość kolumn */
      gap: 10px; /* Mniejsze odstępy między elementami */
  }

  .endgame-player-text {
      font-size: 1.2em; /* Zmniejszamy wielkość tekstu graczy */
  }

  .endgame-button {
      padding: 8px 15px; /* Zmniejszamy padding w przyciskach */
      font-size: 1em; /* Zmniejszamy wielkość czcionki w przyciskach */
  }

  .endgame-player-input {
      width: 80px; /* Zmniejszamy szerokość pola input */
      font-size: 1em; /* Zmniejszamy wielkość czcionki w polach input */
  }
}
