.endgame-modal-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.endgame-modal-content {
  width: 60%;
  max-height: 90vh; 
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(5px);
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); 
  text-align: center;
  color: white;
  overflow-y: auto; 
}

.endgame-players-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); 
  gap: 20px; 
  margin-bottom: 20px;
}

.endgame-player-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.endgame-player-text {
  font-size: 1.4em;
  margin: 10px 0;
  color: #f5f5f5; 
}

.endgame-modal-buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.endgame-button {
  background-color: rgba(255, 255, 255, 0.2);
  border: 2px solid rgba(255, 255, 255, 0.5);
  color: white;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 1.1em;
  border-radius: 12px;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.endgame-button:hover {
  background-color: rgba(255, 255, 255, 0.4); 
  box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.4); 
}


.endgame-button:disabled {
  background-color: rgba(255, 255, 255, 0.1); 
  cursor: not-allowed; 
  box-shadow: none; 
  color: rgba(255, 255, 255, 0.5); 
}

.endgame-modal-header {
  font-size: 2.2em; 
  margin-bottom: 15px;
}

.endgame-player-input {
  padding: 10px;
  width: 100px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.2); 
  border: 2px solid rgba(255, 255, 255, 0.5);
  color: white;
  font-size: 1.2em;
  border-radius: 8px;
}

.endgame-player-input::placeholder {
  color: rgba(255, 255, 255, 0.7); 
}


@media (max-width: 768px) {
  .endgame-modal-content {
      width: 90%; 
      max-height: 90vh; 
      padding: 10px;
  }

  .endgame-modal-header {
      font-size: 1.8em; 
  }

  .endgame-players-container {
      grid-template-columns: repeat(auto-fit, minmax(120px, 1fr)); 
      gap: 10px; 
  }

  .endgame-player-text {
      font-size: 1.2em;
  }

  .endgame-button {
      padding: 8px 15px;
      font-size: 1em;
  }

  .endgame-player-input {
      width: 80px; 
      font-size: 1em; 
  }
}
